<div class="row">
  <div class="col-md-6">
    <%= form_for([@articulo, @articulo.comentarios.build]) do |form| %>

      <div class="form-group">
        <%= form.label :nombre %>
        <%= form.text_field :nombre, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :texto %>
        <%= form.text_area :texto, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Comentar", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>

