<%= provide(:titulo, 'Nosotros') %>

<h1>Estaticas#nosotros</h1>
<p>Find me in app/views/estaticas/nosotros.html.erb</p>

<% 1+1 %>

<p>
    <%= @mensaje %>
</p>
<%= "el controller dice #{@mensaje}"%>

<ul>
    <% @usuarios.each do |usuario| %>
        <li>
            <%= usuario %>
        </li>
    <% end %>
</ul>

<ul>
    <% @usuarios.each do |i| %>
        <%= "<li>nombre: #{i}</li>".html_safe %>
    <% end %>
</ul>


<%= link_to 'Home', root_path %>
<%= link_to 'Contacto', estaticas_contacto_path %>

<%= link_to 'Contacto', {
    :controller=>'estaticas',
    :action=>'contacto',
    :id=>3,
    :pagina=>2,
    :pagina=>2,
    },
    :class=>'my-class', 
    :target=>'_blank'
%>

<%= link_to 'Otro', {
    :controller=>'estaticas',
    :action=>'contacto',
    :id=>3,
    :pagina=>2,
    :pagina=>2,
    }
%>

