<div class="row">
    <div class="col-md-6">
        <%= form_for @articulo do |f| %>

            <% if @articulo.errors.any? %>
                <div id="errors">
                    <h2>Se han producido los siguientes errores:</h2>
                    <ul>
                        <% @articulo.errors.full_messages.each do |msg| %>
                            <li><%= msg  %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="form-group">
                <%= f.label :titulo %>
                <%= f.text_field :titulo, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :contenido %>
                <%= f.text_area :contenido, class: "form-control" %>
            </div>

            <%= f.submit "#{@boton} Artículo", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>